In [1]:
import pandas as pd

In [2]:
import sklearn
from sklearn import decomposition
from sklearn.decomposition import PCA

In [3]:
df = pd.read_csv('sample_data.csv')

In [4]:
df.head()

   age    edu  salary city claim_or_not     mode payment
0   12  btech   12000    a          yes     year       m
1   13    mca   13000    b           no    month       n
2   14     ba   14000   c           yes  quarter       b
3   15    bba   14001    d           no     year       v
4   16    msc   14002    e          yes    month       c

In [5]:
df = pd.get_dummies(df,columns=['edu', 'city', 'claim_or_not', 'payment', 'mode'],drop_first = True)

In [6]:
variable_name = df.columns

In [ ]:
# Note Standardrise the data set

In [7]:
variable_name

Index(['age', 'salary', 'edu_bba', 'edu_bca', 'edu_be', 'edu_btech', 'edu_ias',
       'edu_mca', 'edu_metric', 'edu_msc', 'city_b', 'city_c ', 'city_d',
       'city_e', 'city_f', 'city_g', 'city_h', 'city_i', 'claim_or_not_yes',
       'payment_c', 'payment_k', 'payment_l', 'payment_m', 'payment_n',
       'payment_v', 'payment_x', 'payment_z', 'mode_quarter', 'mode_year'],
      dtype='object')

In [ ]:
len(df.columns)

In [8]:
X = df.values

In [9]:
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)

In [10]:
X

array([[-1.54919334, -2.49911727, -0.35355339, -0.35355339, -0.35355339,
         2.82842712, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339,  0.89442719, -0.35355339,
        -0.35355339, -0.35355339,  2.82842712, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.70710678,  1.41421356],
       [-1.161895  , -1.00174323, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339,  2.82842712, -0.35355339, -0.35355339,
         2.82842712, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -1.11803399, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339,  2.82842712, -0.35355339,
        -0.35355339, -0.35355339, -0.70710678, -0.70710678],
       [-0.77459667,  0.49563081, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339,  2.82842712, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339,  0.89442719, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339,  1.41421356, -0.70710678],
       [-0.38729833,  0.49712818,  2.82842712, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339,  2.82842712, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -1.11803399, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339,  2.82842712,
        -0.35355339, -0.35355339, -0.70710678,  1.41421356],
       [ 0.        ,  0.49862555, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339,  2.82842712,
        -0.35355339, -0.35355339, -0.35355339,  2.82842712, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339,  0.89442719,  2.82842712,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.70710678, -0.70710678],
       [ 0.38729833,  0.50012293, -0.35355339, -0.35355339,  2.82842712,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339,  2.82842712,
        -0.35355339, -0.35355339, -0.35355339, -1.11803399, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
         2.82842712, -0.35355339,  1.41421356, -0.70710678],
       [ 0.77459667,  0.5016203 , -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339,  2.82842712, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
         2.82842712, -0.35355339, -0.35355339,  0.89442719, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339,  2.82842712, -0.70710678,  1.41421356],
       [ 1.161895  ,  0.50311768, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339,  2.82842712, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339,  2.82842712, -0.35355339, -1.11803399, -0.35355339,
        -0.35355339,  2.82842712, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.70710678, -0.70710678],
       [ 1.54919334,  0.50461505, -0.35355339,  2.82842712, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339,  2.82842712,  0.89442719, -0.35355339,
         2.82842712, -0.35355339, -0.35355339, -0.35355339, -0.35355339,
        -0.35355339, -0.35355339,  1.41421356, -0.70710678]])

In [11]:
pca = decomposition.PCA()

In [12]:
dataset_pca = pca.fit_transform(X)
pca.explained_variance_ratio_

array([1.77505636e-01, 1.50766013e-01, 1.39415375e-01, 1.29517489e-01,
       1.19469117e-01, 1.16379310e-01, 1.06407267e-01, 6.05397937e-02,
       2.03192350e-32])

In [13]:
pca.explained_variance_ratio_.sum()

1.0

In [14]:
pd.DataFrame(pca.components_, columns = variable_name)

,age,salary,edu_bba,edu_bca,edu_be,edu_btech,edu_ias,edu_mca,edu_metric,edu_msc,...,payment_c,payment_k,payment_l,payment_m,payment_n,payment_v,payment_x,payment_z,mode_quarter,mode_year
0,3.571803e-01,3.065300e-01,-0.139514,0.265862,0.172309,-2.416192e-01,9.168129e-02,-1.658648e-01,-0.045961,1.914149e-02,...,1.914149e-02,0.265862,9.168129e-02,-2.416192e-01,-1.658648e-01,-0.139514,0.172309,-0.045961,3.214245e-01,-2.847299e-01
1,1.237777e-01,5.590956e-02,-0.009385,0.121671,-0.204149,7.282219e-02,-1.317479e-01,-2.635554e-01,0.316435,9.191652e-02,...,9.191652e-02,0.121671,-1.317479e-01,7.282219e-02,-2.635554e-01,-0.009385,-0.204149,0.316435,-5.099027e-02,2.532481e-01
2,1.816585e-01,2.397624e-01,0.300297,-0.151551,0.015228,-1.753559e-01,2.565531e-01,-1.578090e-01,0.133517,-1.347758e-01,...,-1.347758e-01,-0.151551,2.565531e-01,-1.753559e-01,-1.578090e-01,0.300297,0.015228,0.133517,-1.482839e-01,1.723050e-01
3,8.148665e-02,4.854338e-02,-0.181375,-0.090620,-0.253599,-8.330491e-02,3.075209e-01,6.402007e-02,-0.018396,2.943820e-01,...,2.943820e-01,-0.090620,3.075209e-01,-8.330491e-02,6.402007e-02,-0.181375,-0.253599,-0.018396,-2.552312e-01,-1.887174e-01
4,-9.823358e-02,1.491535e-01,0.177470,-0.171897,0.150691,-7.453952e-02,-1.840720e-01,-1.690032e-01,-0.145117,3.887580e-01,...,3.887580e-01,-0.171897,-1.840720e-01,-7.453952e-02,-1.690032e-01,0.177470,0.150691,-0.145117,4.335658e-03,-2.812414e-02
5,1.528848e-16,1.028972e-16,0.288675,0.288675,-0.288675,2.160759e-17,6.611747e-16,-1.310363e-16,-0.288675,-1.913952e-15,...,-1.913952e-15,0.288675,5.771626e-16,2.935994e-17,-1.482072e-16,0.288675,-0.288675,-0.288675,7.491752e-16,2.718233e-16
6,-5.206778e-02,-2.147086e-01,-0.081005,-0.046184,0.071163,3.923471e-01,2.145423e-01,-3.284013e-01,-0.198351,-5.308669e-02,...,-5.308669e-02,-0.046184,2.145423e-01,3.923471e-01,-3.284013e-01,-0.081005,0.071163,-0.198351,3.596958e-02,7.532752e-02
7,-2.082340e-01,1.547699e-01,-0.019174,-0.180993,-0.163438,-1.342408e-01,-7.654610e-03,-6.245241e-02,-0.036730,-1.305552e-01,...,-1.305552e-01,-0.180993,-7.654610e-03,-1.342408e-01,-6.245241e-02,-0.019174,-0.163438,-0.036730,2.605381e-01,-1.267632e-01
8,1.164280e-01,-2.954317e-01,-0.545552,-0.427398,0.255123,-1.034566e-01,1.970148e-01,1.490932e-03,-0.025289,4.613197e-03,...,4.613197e-03,0.184101,-1.137094e-01,-1.659886e-01,-4.329356e-02,0.254817,-0.137185,-0.025289,2.535964e-02,9.246510e-02

In [15]:
from sklearn.decomposition import TruncatedSVD

In [16]:
svd = TruncatedSVD(n_components=2)

In [17]:
X_reduced = svd.fit_transform(X)

In [18]:
svd.explained_variance_ratio_

array([0.17750564, 0.15076601])

In [19]:
svd.explained_variance_ratio_.sum()

0.3282716483445222

In [20]:
svd = TruncatedSVD(n_components=5)
X_reduced = svd.fit_transform(X)
svd.explained_variance_ratio_.sum()

0.7166736293332656

In [21]:
pd.DataFrame(svd.components_, columns = variable_name)

,age,salary,edu_bba,edu_bca,edu_be,edu_btech,edu_ias,edu_mca,edu_metric,edu_msc,...,payment_c,payment_k,payment_l,payment_m,payment_n,payment_v,payment_x,payment_z,mode_quarter,mode_year
0,0.357180,0.306530,-0.139514,0.265862,0.172309,-0.241619,0.091681,-0.165865,-0.045961,0.019141,...,0.019141,0.265862,0.091681,-0.241619,-0.165865,-0.139514,0.172309,-0.045961,0.321425,-0.284730
1,0.123778,0.055910,-0.009385,0.121671,-0.204149,0.072822,-0.131748,-0.263555,0.316435,0.091917,...,0.091917,0.121671,-0.131748,0.072822,-0.263555,-0.009385,-0.204149,0.316435,-0.050990,0.253248
2,0.181658,0.239762,0.300297,-0.151551,0.015228,-0.175356,0.256553,-0.157809,0.133517,-0.134776,...,-0.134776,-0.151551,0.256553,-0.175356,-0.157809,0.300297,0.015228,0.133517,-0.148284,0.172305
3,0.081487,0.048543,-0.181375,-0.090620,-0.253599,-0.083305,0.307521,0.064020,-0.018396,0.294382,...,0.294382,-0.090620,0.307521,-0.083305,0.064020,-0.181375,-0.253599,-0.018396,-0.255231,-0.188717
4,-0.098234,0.149153,0.177470,-0.171897,0.150691,-0.074540,-0.184072,-0.169003,-0.145117,0.388758,...,0.388758,-0.171897,-0.184072,-0.074540,-0.169003,0.177470,0.150691,-0.145117,0.004336,-0.028124