In [1]:
import pandas as pd

In [19]:
import sklearn
from sklearn import decomposition
from sklearn.decomposition import PCA

In [6]:
df = pd.read_csv('sample_data.csv')

In [7]:
df.head()

   age    edu  salary city claim_or_not     mode payment
0   12  btech   12000    a          yes     year       m
1   13    mca   13000    b           no    month       n
2   14     ba   14000   c           yes  quarter       b
3   15    bba   14001    d           no     year       v
4   16    msc   14002    e          yes    month       c

In [5]:
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.get_dummies(df,columns=['edu', 'city', 'claim_or_not', 'payment', 'mode'],drop_first = True)

In [20]:
variable_name = df.columns

In [37]:
# Note Standardrise the data set

In [21]:
variable_name

Index(['age', 'salary', 'edu_bba', 'edu_bca', 'edu_be', 'edu_btech', 'edu_ias',
       'edu_mca', 'edu_metric', 'edu_msc', 'city_b', 'city_c ', 'city_d',
       'city_e', 'city_f', 'city_g', 'city_h', 'city_i', 'claim_or_not_yes',
       'payment_c', 'payment_k', 'payment_l', 'payment_m', 'payment_n',
       'payment_v', 'payment_x', 'payment_z', 'mode_quarter', 'mode_year'],
      dtype='object')

In [15]:
len(df.columns)

29

In [16]:
X = df.values

In [17]:
X

array([[   12, 12000,     0,     0,     0,     1,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     0,
            1,     0,     0,     0,     1,     0,     0,     0,     0,
            0,     1],
       [   13, 13000,     0,     0,     0,     0,     0,     1,     0,
            0,     1,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     1,     0,     0,     0,
            0,     0],
       [   14, 14000,     0,     0,     0,     0,     0,     0,     0,
            0,     0,     1,     0,     0,     0,     0,     0,     0,
            1,     0,     0,     0,     0,     0,     0,     0,     0,
            1,     0],
       [   15, 14001,     1,     0,     0,     0,     0,     0,     0,
            0,     0,     0,     1,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     1,     0,     0,
            0,     1],
       [   16, 14002,     0,     0,     0,     0,     0,     0,     0,
            1,     0,     0,     0,     1,     0,     0,     0,     0,
            1,     1,     0,     0,     0,     0,     0,     0,     0,
            0,     0],
       [   17, 14003,     0,     0,     1,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     1,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     1,     0,
            1,     0],
       [   18, 14004,     0,     0,     0,     0,     0,     0,     1,
            0,     0,     0,     0,     0,     0,     1,     0,     0,
            1,     0,     0,     0,     0,     0,     0,     0,     1,
            0,     1],
       [   19, 14005,     0,     0,     0,     0,     1,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     1,     0,
            0,     0,     0,     1,     0,     0,     0,     0,     0,
            0,     0],
       [   20, 14006,     0,     1,     0,     0,     0,     0,     0,
            0,     0,     0,     0,     0,     0,     0,     0,     1,
            1,     0,     1,     0,     0,     0,     0,     0,     0,
            1,     0]])

In [24]:
pca = decomposition.PCA()

In [26]:
dataset_pca = pca.fit_transform(X)
pca.explained_variance_ratio_

array([9.99986457e-01, 7.98902115e-06, 1.32115817e-06, 1.24061608e-06,
       9.49502696e-07, 7.47360034e-07, 7.20831143e-07, 5.74338307e-07,
       7.21986953e-34])

In [28]:
pca.explained_variance_ratio_.sum()

1.0

In [29]:
pd.DataFrame(pca.components_, columns = variable_name)

,age,salary,edu_bba,edu_bca,edu_be,edu_btech,edu_ias,edu_mca,edu_metric,edu_msc,...,payment_c,payment_k,payment_l,payment_m,payment_n,payment_v,payment_x,payment_z,mode_quarter,mode_year
0,-2.752596e-03,-9.999959e-01,-0.000083,-0.000084,-0.000083,4.157882e-04,-8.370724e-05,1.666650e-04,-0.000083,-8.295779e-05,...,-8.295779e-05,-0.000084,-8.370724e-05,4.157882e-04,1.666650e-04,-0.000083,-0.000083,-0.000083,-2.496230e-04,2.496230e-04
1,9.599185e-01,-2.668300e-03,-0.065180,0.101510,0.001489,1.997353e-02,6.689813e-02,-3.898351e-02,0.034842,-3.066207e-02,...,-3.066207e-02,0.101510,6.689813e-02,1.997353e-02,-3.898351e-02,-0.065180,0.001489,0.034842,1.311156e-02,-1.036411e-02
2,1.445656e-02,1.551792e-04,0.149664,-0.082415,-0.212303,7.452324e-02,-4.366401e-02,-1.490322e-01,0.279552,4.816103e-02,...,4.816103e-02,-0.082415,-4.366401e-02,7.452324e-02,-1.490322e-01,0.149664,-0.212303,0.279552,-3.592033e-01,5.037384e-01
3,5.977257e-02,-1.091038e-04,0.178119,-0.181831,0.022203,-6.419611e-02,2.542031e-01,1.284522e-01,-0.025916,-1.306299e-01,...,-1.306299e-01,-0.181831,2.542031e-01,-6.419611e-02,1.284522e-01,0.178119,0.022203,-0.025916,-3.400323e-01,8.800699e-02
4,-9.560779e-04,4.285911e-05,-0.196689,-0.078377,-0.231433,-6.379408e-02,1.736011e-01,1.275872e-01,-0.043633,3.334093e-01,...,3.334093e-01,-0.078377,1.736011e-01,-6.379408e-02,1.275872e-01,-0.196689,-0.231433,-0.043633,-3.304816e-01,-3.041160e-01
5,4.186603e-16,5.718845e-17,-0.288675,-0.288675,0.288675,-1.799387e-16,5.566761e-16,3.773504e-16,0.288675,-2.867495e-15,...,-2.867495e-15,-0.288675,4.768228e-16,-1.373415e-16,4.230798e-16,-0.288675,0.288675,0.288675,6.863141e-16,1.435407e-15
6,-5.618438e-03,9.184467e-05,-0.061876,0.132185,-0.153982,-1.949962e-01,-1.602344e-01,3.899867e-01,0.224291,-1.854526e-01,...,-1.854526e-01,0.132185,-1.602344e-01,-1.949962e-01,3.899867e-01,-0.061876,-0.153982,0.224291,-1.171899e-02,-3.258062e-02
7,-8.706163e-02,2.439838e-04,-0.131512,-0.048846,-0.204894,5.364038e-02,2.917008e-01,-1.073682e-01,0.024536,-3.022620e-01,...,-3.022620e-01,-0.048846,2.917008e-01,5.364038e-02,-1.073682e-01,-0.131512,-0.204894,0.024536,1.712654e-01,-5.333597e-02
8,-2.590867e-01,6.332890e-04,-0.160292,0.345762,0.067126,4.113526e-02,2.041919e-01,-9.751509e-02,0.125306,-3.630269e-02,...,-3.630269e-02,0.342198,2.089234e-01,4.937353e-02,-9.925556e-02,-0.141782,0.071629,0.125306,-1.052526e-01,3.208087e-02

In [30]:
from sklearn.decomposition import TruncatedSVD

In [31]:
svd = TruncatedSVD(n_components=2)

In [32]:
X_reduced = svd.fit_transform(X)

In [33]:
svd.explained_variance_ratio_

array([9.99983270e-01, 1.05565008e-05])

In [34]:
svd.explained_variance_ratio_.sum()

0.9999938265415431

In [35]:
svd = TruncatedSVD(n_components=5)
X_reduced = svd.fit_transform(X)
svd.explained_variance_ratio_.sum()

0.9999973905221503

In [36]:
pd.DataFrame(svd.components_, columns = variable_name)

,age,salary,edu_bba,edu_bca,edu_be,edu_btech,edu_ias,edu_mca,edu_metric,edu_msc,...,payment_c,payment_k,payment_l,payment_m,payment_n,payment_v,payment_x,payment_z,mode_quarter,mode_year
0,0.001174,0.999999,0.000008,0.000008,0.000008,0.000007,0.000008,0.000008,0.000008,0.000008,...,0.000008,0.000008,0.000008,0.000007,0.000008,0.000008,0.000008,0.000008,0.000025,0.000024
1,0.966092,-0.001136,-0.037175,0.087910,0.014303,-0.051600,0.062116,-0.056027,0.036432,-0.011220,...,-0.011220,0.087910,0.062116,-0.051600,-0.056027,-0.037175,0.014303,0.036432,0.046032,-0.052343
2,0.041889,-0.000067,0.078951,-0.035975,-0.225214,0.157836,-0.056495,-0.130342,0.268190,0.032095,...,0.032095,-0.035975,-0.056495,0.157836,-0.130342,0.078951,-0.225214,0.268190,-0.336999,0.504976
3,0.053847,-0.000039,0.208225,-0.196389,-0.002596,-0.072329,0.240759,0.098335,0.014433,-0.114866,...,-0.114866,-0.196389,0.240759,-0.072329,0.098335,0.208225,-0.002596,0.014433,-0.377870,0.150329
4,0.004103,0.000005,-0.212770,-0.070274,-0.231073,-0.042561,0.182603,0.146267,-0.051970,0.313301,...,0.313301,-0.070274,0.182603,-0.042561,0.146267,-0.212770,-0.231073,-0.051970,-0.330503,-0.307301